<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Home - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/blog-home.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->

  {{>home/home-nav}}
  <!-- Page Content -->
  <div class="container">

    <!--{{#if error}}
      {{#each error}}
        <div class="alert alert-danger"> {{message}}</div>
      {{/each}}

    {{/if}} -->

    {{>home/form-msgs}}

    {{{body}}}

  </div>
  <!-- /.container -->

  <!-- Footer -->
  {{>home/footer-nav}}

  <!-- Bootstrap core JavaScript -->

  <script src="/javascript/jquery/jquery-3.5.1.slim.js"></script>
  {{!-- <script src="/javascript/jquery/jquery.min.js"></script> --}}
  <script src="/javascript/bootstrap/bootstrap.bundle.min.js"></script>

</body>

</html>