<div class="container-fluid">
    <h1>Create Posts</h1>
    <form action="/admin/posts/create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title</label>
            <input required type="text" name="title" class="form-control" id="title" placeholder="Enter your name">
        </div>
        <div class="form-group">
            <label for="file">File</label>
            <input required type="file" name="file" class="form-control">
        </div>

        <div class="form-group">
            <label for="status">Category</label>
            <select required name="category" id="category" class="form-control">
                {{#each categories }}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group">
            <label for="status">Status</label>
            <select required name="status" id="status" class="form-control">
                <option value="Public">Public</option>
                <option value="Private">Private</option>
                <option value="Draft">Draft</option>
            </select>
        </div>

        <div class="form-check">
            <label for="allowComments">
                <input required type="checkbox" name="allowComments" class="form-check-input" id="allowComments">
                Allow Comments
            </label>
        </div>

        <div class="form-group">
            <label for="body">Description</label>
            <textarea required name="body" class="form-control" id="body" placeholder="Enter body"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create Post</button>
    </form>
</div>